# Data Science Tools and Ecosystem

**Objectives:**
*  List popular languages for Data Science
*  Using RStudio to explore datasets
*  Using Anaconda for data science

In [2]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. caret
3. dplyr

| Data Science Tools |
|--------------------|
| RStudio            |
| Visual Studio Code |
| Anaconda           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Turki Shahel